h1,
h2,
h3,
h4 {
  font-family: "Roboto Condensed", sans-serif;
}

h1{
  text-align: center;
}

.container{
margin-bottom: 20px;
height: 80vh;
}


.nameGaines{
  font-family: 'Anton', sans-serif;
  font-size: 40px;
}


body {
    /* background-image: url("background_1.jpg"); */
    background-color: #cccccc;
   }

   
  @media screen and (max-width : 991px){
    .card {
      margin-bottom: 20px;
    }
    #aboutPic{
      max-width: 200px;
    }
  }


  .card-body{
    background-color: oldlace;
  }

/* Style for Footer of each page */
  .footer{
    text-align: center;
    background-color:  grey; 
    width: 100%;
    position: fixed;
    bottom: 0;
    margin-top: 20px;

    }
  /* Styles for links to social media */
    .fa {
      padding: 20px;
      font-size: 30px;
      width: 50px;
      text-align: center;
      text-decoration: none;
    }
  
    .fa-facebook {
      background: #3B5998;
      color: white;
    }
  
    .fa-google {
      background: #dd4b39;
      color: white;
    }
  
    .fa-linkedin {
      background: #007bb5;
      color: white;
    }
  
    .fa-instagram {
      background: #125688;
      color: white;
    }


