h1,
h2,
h3,
h4 {
  font-family: "Roboto Condensed", sans-serif;
}


body {
    background-image: url("background_1.jpg");
    background-color: #cccccc;
   }

   .fa {
    padding: 20px;
    font-size: 30px;
    width: 50px;
    text-align: center;
    text-decoration: none;
  }

.footer{
  text-align: center;
  clear: both;
  background-color:  grey;

}


  @media screen and (max-width : 640px){

    #main-content {
      padding-bottom: 20px;
    }
  }
